
.bouncing-balls-buttons {
    width: 10%;
    position: absolute;
    top: 5%;
    left: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.66vh;
    align-items: center;
}

.addBallButton {
    background-color: black;
    border: white 0.1em solid;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 2vw;
    padding-block: 0.20em;
    white-space: nowrap;
    
}

.addBallButton:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}

.removeBallButton {
    background-color: black;
    border: white 0.1em solid;
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 2vw;
    padding-block: 0.20em;
    white-space: nowrap;
}

.removeBallButton:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 9vw;
    height: 0.66vh;
    background-color: grey;
    outline: none;
    margin-block: 1.33em;
}
  
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0.6vw;
    height: 1.5vh;
    background-color: white;
    border-radius: 0;
    box-sizing: border-box;
}

.speed {
    color: white;
    font-size: 2vw;
}