.chat-title {
    position: absolute;
    font-size: 50px;
    margin-top: 5vh;
    margin-left: calc(81vw / 2 - (50px * 4) / 2);
    font-weight: bold;
    text-align: center;
    color: grey
}

.chat-messages::-webkit-scrollbar {
    display: none;
}

.chat-messages {
    position: absolute;
    margin-top: 10vh;
    background-color: black;
    color: white;
    margin-left: 2.2vw;
    width: calc(75.5vw);
    height: calc(75vh);
    border: 3px white solid;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.chat-message {
    display: flex;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 2em;
    color: white;
    background-color: black;
    border-bottom: 0.5px white solid;
    word-wrap: break-word;
    vertical-align: middle;
}

.chat-input {
    width: calc(75.5vw);
    height: 6vh;
    font-size: 1.5em;
    margin-left: 2.2vw;
    margin-top: calc(88.5vh);
    color: white;
    background-color: black;
    border: 3px white solid;
}

.chat-message-content {
    /* position: relative; */
    /* display: inline-block; */
    margin-top: 15px;
    font-size: 1em;
    color: white;
    background-color: black;
    vertical-align: middle;
    word-wrap: break-word;
}

.chat-avatar {
    /* display: inline-block; */
    border-radius: 50%;
    min-height: 55px;
    min-width: 55px;
    max-width: 55px;
    max-height: 55px;
    background-color: blue;
    margin-right: 1vw;
    margin-left: 1vw;
    background-size: cover;
    background-repeat: no-repeat;
}

.chat-avatar:hover {
    opacity: 0.8;
    cursor: pointer;
}

.chat-username {
    position: absolute;
    margin-left: calc(55px + 2vw);
    margin-top: -15px;
    font-weight: bold;
    font-size: 1em;
}

.chat-username span {
    font-weight: normal;
    font-size: 0.6em;
}

.channel-invite {
    position: absolute;
    border: 3px solid white;
    top: 2em;
    left: 10em;
    height: 50px;
    width: 50px;
    background-color: black;
}