/* .chat-title {
    position: absolute;
    font-size: 50px;
    margin-top: 5vh;
    margin-left: calc(81vw / 2 - (50px * 4) / 2);
    font-weight: bold;
    text-align: center;
    color: grey
} */

.chat-messages::-webkit-scrollbar {
    display: none;
}

.chat-messages {
    position: absolute;
    top: 6vh;
    margin-top: 1.2rem;
    background-color: black;
    right: 3vh;
    color: white;
    width: calc(75.5vw);
    height: calc(73.5vh);
    border: 3px white solid;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.chat-message {
    display: flex;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 2em;
    color: white;
    background-color: black;
    border-bottom: 0.5px white solid;
    word-wrap: break-word;
    vertical-align: middle;
}

.chat-input {
    position: absolute;
    width: calc(75.5vw - 1em);
    height: 6vh;
    right: 3vh;
    font-size: 1.5em;
    margin-top: calc(90vh);
    color: white;
    background-color: black;
    border: 3px white solid;
}

.chat-input[type='text'] {
    font-size: 1.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.chat-message-content {
    /* position: relative; */
    /* display: inline-block; */
    margin-top: 15px;
    font-size: 1em;
    color: white;
    background-color: black;
    vertical-align: middle;
    word-wrap: break-word;
}

.chat-avatar {
    /* display: inline-block; */
    border-radius: 50%;
    min-height: 55px;
    min-width: 55px;
    max-width: 55px;
    max-height: 55px;
    background-color: blue;
    margin-right: 1vw;
    margin-left: 1vw;
    background-size: cover;
    background-repeat: no-repeat;
}

.chat-avatar:hover {
    opacity: 0.8;
    cursor: pointer;
}

.chat-username {
    position: absolute;
    margin-left: calc(55px + 2vw);
    margin-top: -15px;
    font-weight: bold;
    font-size: 1em;
}

.chat-username span {
    font-weight: normal;
    font-size: 0.6em;
}

.channel-invite {
    position: absolute;
    border: 6px solid white;
    border-top: 2px solid white;
    border-bottom: 3px solid white;
    left: calc(0.8rem + 0.65vw);
    top: calc(6vh + 6px);
    width: 19vw;
    /* height: calc(100vh - (100vh - 9.6rem) + 8.1rem); */
    height: 19vh;
    overflow-y: auto;
    /* margin-top: calc(100vh - 9.9rem - 8.4rem - 10.8rem + 1.2rem + 3px - 4rem); */
    margin-top: 61.6vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.channel-quit {
    position: absolute;
    font-size: 1.1em;
    border: 3px solid white;
    top: 1.4em;
    left: 30vw;
    height: 60px;
    width: 60px;
    background-color: black;
}

.channel-password {
    position: absolute;
    font-size: 1.1em;
    border: 3px solid white;
    top: 1.4em;
    left: 35vw;
    height: 60px;
    width: 60px;
    background-color: black;
}

.channel-invite:hover,
.channel-quit:hover,
.channel-password:hover {
    opacity: 0.8;
    cursor: pointer;
}

.context-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.context-menu div {
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    width: 100%;
    height: 100%;
}

.context-menu div:hover {
    opacity: 0.8;
}

.error-message-chat {
    position: absolute;
    margin-left: 23vw;
    color: red;
    font-size: 3rem;
    bottom: 11.7vh;
}

.invite-div {
    /*center in the middle of the screen*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*end center*/
    width: 40vw;
    height: 15vh;
    background-color: black;
    border: 3px solid white;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.invite-div-content {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    padding-left: 1vh;
    padding-right: 1vh;
    font-size: 3rem;
    color: white;
}

.invite-div-accept {
    margin-left: calc(40vw / 2 - 10vw - 1vw);
    margin-right: 2vw;
    margin-top: 2vh;
    font-size: 2rem;
    width: 10vw;
    background-color: #28a745;
    padding: 0.5vh 1vw;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.invite-div-accept:hover {
    opacity: 0.8;
    cursor: pointer;
}

.invite-div-decline {
    width: 10vw;
    margin-top: 2vh;
    font-size: 2rem;
    background-color: black;
    padding: 0.5vh 1vw;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.invite-div-decline:hover {
    opacity: 0.8;
    cursor: pointer;
}