.chat-title {
    font-size: 50px;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    color: grey
}
  
.chat-messages {
    background-color: white;
    margin-left: 3%;
    width: 24%;
}

.chat-message {
    padding: 2%;
    font-size: 120%;
    color: black;
}
  
.chat-input {
    width: 20%;
    padding:0.3%;
    font-size: 120%;
    margin-left: 3%;
    margin-top: 1%;
    color: black;
    border: none;
}
  
.chat-button {
    padding:0.3%;
    margin-left: 0.3%;
    font-size: 150%;
    background-color: white;
    color: black;
    font-weight: bold;
    border: none;
}
