.create-channel-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
    height: 25vh;
    width: auto;
}

.channel-error {
    font-size: 3em;
    color: red;
}

.channel-created {
    font-size: 3em;
    color: greenyellow;
}

.channel-name-create {
    font-size: 2rem;
    color: white;
    margin-bottom: 0.8vh;
}

.channel-password-create {
    font-size: 2rem;
    color: white;
    margin-bottom: 0.8vh;
}

.channel-private-create {
    font-size: 2rem;
    color: white;
    margin-bottom: 0.8vh;
}

/* 
.create-channel-div p {
    font-size: 2rem;
    color: white;
    margin-bottom: 0.8vh;
} */

.create-channel-div input[type="text"] {
    width: 26%;
    height: 2vh;
    margin-bottom: 2vh;
    background-color: black;
    border: 3px solid white;
    padding: 0.5em;
    color: white;
    outline: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.create-channel-div input[type="password"] {
    width: 26%;
    height: 2vh;
    margin-bottom: 2vh;
    background-color: black;
    border: 3px solid white;
    padding: 0.5em;
    color: white;
    outline: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.create-channel-div input[type="checkbox"] {
    margin-bottom: 2vh;
    cursor: pointer;
}

.channel-private-create {
    margin-bottom: 0;
}

.create-button-create {
    background: black;
    border: 3px solid white;
    padding: 0.5em;
    color: white;
    outline: none;
    margin-top: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.create-button-create:hover {
    opacity: 0.8;
}