.gameBoard {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70vw;
    height: 70vh;
    background-color: black;
    transform: translate(-50%, -50%);
    /*outside border*/
    border: 1px solid white;
    border-radius: 10px;
    /*inside border*/
    box-shadow: 0 0 0 4px black, 0 0 0 5px white;
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
}

.leftScore {
    margin-left: 25vw;
    position: absolute;
    font-size: 100px;
}

.rightScore {
    margin-right: 25vw;
    position: absolute;
    font-size: 100px;
    right: 0;
}

.leftPaddle {
    position: absolute;
    width: 20px;
    height: 100px;
    background-color: white;
    margin-left: 50px;
}

.rightPaddle {
    position: absolute;
    width: 20px;
    height: 100px;
    background-color: white;
    right: 0;
    margin-right: 50px;
}

.leftUser {
    position: absolute;
    margin-left: 37.5vw;
    font-size: 3em;
    top: 10vh;
    color: white;
}

.rightUser {
    position: absolute;
    right: 37.5vw;
    font-size: 3em;
    top: 10vh;
    color: white;
}

.gameOver {
    /*center middle of the screen*/
    position: absolute;
    top: 50%;
    left: 50%;
    /*move the center of the text to the center of the screen*/
    transform: translate(-50%, -50%);
    color: white;
    z-index: 10000;
}

.go-back-button {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 3rem;
    color: white;
    z-index: 10000;
    background-color: black;
    border: 4px solid white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 1rem;
}

.game-over-p {
    display: block;
    font-size: 4rem;
    margin-bottom: 1rem;
}

.state-message-p {
    font-size: 4rem;
    display: block;
}

.middleBoard {
    position: absolute;
    margin-left: 50%;
    display: flex;
    flex-direction: column;
}

.point {
    background-color: white;
}