::placeholder {
    color: white;
    opacity: 1;
}

.transcendence-title {
    font-weight: 500;
    color: white;
    font-size: 140px;
    text-align: center;
    margin-top: 10vh;
}

.login-div {
    font-size: 1rem;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    height: 15vh;
    width: 30vw;
    padding: 2em;
    border: white 5px solid;
}

.login-input[type="text"] {
    background: black;
    color: white;
    font-size: 1.5em;
    outline: none;
}

.password-label {
    font-size: 1em;
    color: white;
}

.password-wrapper {
    width: 100%;
    display: inline-block;
    align-items: center;
}

.toggle-password {
    position: absolute;
    right: 18%;
    top: 38%;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}


.login-input {
    height: 2vh;
    width: 20vw;
    padding: 0.5em;
    margin-bottom: 1em;
    margin-left: calc(5vw - 0.5em);
    border: 3px solid white;
    font-size: 1em;
    outline: none;
    flex-grow: 1;
}

.remember-me-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 1vh;
}

.remember-me-checkbox {
    margin-right: 0.5em;
}

.alreadyExists {
    color: red;
    font-size: 2vw;
    margin-top: -2.5vh;
    text-align: center;
}

.loginNotUnique {
    color: red;
    font-size: 2vw;
    margin-top: -2.5vh;
    text-align: center;
}

.loginNot {
    color: red;
    font-size: 2vw;
    margin-top: -2.5vh;
    text-align: center;
}

.signup-button {
    position: absolute;
    background-color: black;
    border: white 2px solid;
    color: white;
    padding: 0.5rem;
    width: 11vw;
    height: 6vh;
    text-align: center;
    font-size: 2.5rem;
    top: 50vh;
    left: 33vw;
    cursor: pointer;
}

.signup-button:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}

.signin-button {
    position: absolute;
    background-color: black;
    border: white 2px solid;
    color: white;
    padding: 0.5rem;
    width: 11vw;
    height: 6vh;
    text-align: center;
    font-size: 2.5rem;
    top: 50vh;
    left: 45vw;
    cursor: pointer;
}

.signin-button:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}

.signin42-button {
    position: absolute;
    background-color: black;
    border: white 2px solid;
    color: white;
    padding: 0.5rem;
    width: 11vw;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    font-size: 2.5rem;
    top: 50vh;
    left: 57vw;
    cursor: pointer;
}

.logo42 {
    width: 2.33vw;
    margin-left: 0.25vw;
}

.signin42-button:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}

.addBallButton {
    background-color: black;
    border: white 2px solid;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 2.5vw;
    cursor: pointer;
    position: absolute;
    display: block;
    top: 5vh;
    left: calc(89vw - 5vh);
    width: 11vw;
    height: 5vh;
}

.addBallButton:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}

.removeBallButton {
    background-color: black;
    border: white 2px solid;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 2.5vw;
    cursor: pointer;
    position: absolute;
    display: block;
    top: 11vh;
    left: calc(89vw - 5vh);
    width: 11vw;
    height: 5vh;
}

.removeBallButton:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}
