::placeholder {
    color: white;
    opacity: 1;
}

.transcendence-title {
    font-weight: 500;
    color: white;
    font-size: 140px;
    text-align: center;
    margin-top: 10vh;
}

.login-div {
    font-size: 1rem;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    height: 17vh;
    width: 30vw;
    padding: 2em;
    border: white 5px solid;
}

.login-input[type="text"] {
    background: black;
    /* width: 20vw; */
    /* margin-left: calc(5vw); */
    /* padding: 0.5em; */
    /* margin-bottom: 1em; */
    color: white;
    font-size: 1.4em;
    outline: none;
    /* flex-grow: 1; */
    /* display: inline-block; */
}

.password-label {
    font-size: 1em;
    color: white;
}

.password-wrapper {
    width: 100%;
    display: inline-block;
    align-items: center;
}

.toggle-password {
    position: absolute;
    right: 18%;
    top: 38%;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}


.login-input {
    height: 2vh;
    width: 20vw;
    padding: 0.5em;
    margin-bottom: 1em;
    margin-left: calc(5vw - 0.5em);
    border: 3px solid white;
    font-size: 1em;
    outline: none;
    flex-grow: 1;
}

.remember-me-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 1vh;
}

.remember-me-checkbox {
    margin-right: 0.5em;
}

.sign-up-button {
    width: 8vw;
    background-color: black;
    border: white 2px solid;
    color: white;
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-align: center;
    text-decoration: none;
    font-size: 3vh;
    margin-top: 1vh;
    margin-left: 6.5vw;
    cursor: pointer;
}

.sign-in-button {
    width: 8vw;
    background-color: black;
    border: white 2px solid;
    color: white;
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-align: center;
    text-decoration: none;
    font-size: 3vh;
    margin-top: 1vh;
    margin-left: 1vw;
    cursor: pointer;
}

.addBallButton {
    background-color: black;
    border: white 2px solid;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 2.5vw;
    cursor: pointer;
    position: absolute;
    display: block;
    top: 5vh;
    left: calc(89vw - 5vh);
    width: 11vw;
    height: 5vh;
}

.removeBallButton {
    background-color: black;
    border: white 2px solid;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 2.5vw;
    cursor: pointer;
    position: absolute;
    display: block;
    top: 11vh;
    left: calc(89vw - 5vh);
    width: 11vw;
    height: 5vh;
}

.alreadyExists {
    font-size: 2.3vw;
    position: absolute;
    top: 48vh;
    left: 42vw;
}

.loginNotUnique {
    font-size: 2.3vw;
    position: absolute;
    top: 48vh;
    left: 41vw;
}

.loginNot {
    font-size: 2.3vw;
    position: absolute;
    top: 48vh;
    left: 41vw;
}