.match-history-div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 80%;
    transform: translate(-50%, -50%);
    border: 2px white solid;
    overflow-y: auto;
}

.match-history-match-info-div {
    border: solid 2px white;
    width: 100%;
    height: 5vh;
}

.match-history-match-info-div:hover {
    opacity: 0.8;
    cursor: pointer;
}

.match-history-match-info-div p {
    text-align: center;
    font-size: 2rem;
    vertical-align: middle;
    line-height: calc(5vh - 4px);
}