.normalGameMode {
    border: white 4px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-101%, -50%);
    width: 30vw;
    height: 30vw;
}

.customGameMode {
    border: white 4px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(+1%, -50%);
    width: 30vw;
    height: 30vw;
}

.customPong {
    margin-top: 4vw;
    text-align: center;
    color: white;
    font-size: 5vw;
}

.classicPong {
    margin-top: 4vw;
    text-align: center;
    color: white;
    font-size: 5vw;
}

.normalGameMode:hover {
    background-color: white;
}

.normalGameMode:hover .classicPong {
    color: black;
}

.normalGameMode:hover .imgPlaceHolder {
    background-image: url('../img/normalPongReversed.png');
    border-color: black;
}

.customGameMode:hover {
    background-color: white;
}

.customGameMode:hover .customPong {
    color: black;
}

.customGameMode:hover .imgPlaceHolder2 {
    background-image: url('../img/normalPongReversed.png');
    border-color: black;
}

.imgPlaceHolder {
    background-size: cover;
    background-image: url('../img/normalPong.png');
    margin-top: 4vw;
    position: absolute;
    top: 50%;
    left: 50%;
    border: white 3px solid;
    transform: translate(-50%, -50%);
    width: 19vw;
    height: 19vw;
}


.imgPlaceHolder2 {
    background-size: cover;
    background-image: url('../img/normalPong.png');
    margin-top: 4vw;
    position: absolute;
    top: 50%;
    left: 50%;
    border: white 3px solid;
    transform: translate(-50%, -50%);
    width: 19vw;
    height: 19vw;
}

.modePageTitle {
    text-align: center;
    font-size: 8vw;
}

.divModePage {
    width: 100%;
}

.reset-debug {
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: red;
    top: 10%;
    left: 10%;
}

.queueingP {
    text-align: center;
    font-size: 6rem;
    margin-top: calc(50vh - 7rem);
}

.cancelButton {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    padding: 1rem;
    margin: auto;
    /* Add this line to center the button */
    margin-top: 2rem;
    display: block;
    /* Add this line to make the button a block element */
}

.dot-1,
.dot-2,
.dot-3 {
    animation: dots 1s infinite;
    opacity: 0;
}

@keyframes dots {
    0% {
        opacity: 0;
    }

    33% {
        opacity: 1;
    }

    66% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.dot-2 {
    animation-delay: 0.33s;
}

.dot-3 {
    animation-delay: 0.66s;
}