
.userName {
    font-size: 5vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
}

.pictureProfile {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 70%);
    width: 12vh;
    height: 12vh;
    border: 3px solid white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.stats {
    position: absolute;
    font-size: 80px;
    width: 80%;
    left: 10%;
    top: 40%;
    border: 3px solid white;
    height: 40%;
    display: grid;
}

.winLose,
.ladderLevel,
.achievements
{
    border: 1px solid white;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.winLose p {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1em;
}

.ladderLevel p {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1em;
}

.achievements p {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1em;
}

.debug {
    margin-left: 15px;
    margin-top: 30px;
    font-size: 25px;
}

.downloadButton {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 1.5em;
    width: 1.5em;
    background-color: rgba(128, 128, 128, 0.753);
    border: none;
}

.downloadButton:hover {
    background-color: rgba(128, 128, 128, 0.9);
}

.visuallyHidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}