::placeholder {
    opacity: 0.6;
}

.signin-div {
    width: 25%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2vh;
    padding: 2.5%;
    align-items: center;
    border: white 0.5rem solid;
}

.signin-username-input[type='text'] {
    font-size: 2.25vw;
    text-align: left;
}

.signin-username-input {
    background-color: black;
    border: white 0.2vw solid;
    text-align: center;
    width: 92.5%;
    height: 100%;
    white-space: nowrap;
    padding: 0.33em;
    outline: none;
}

.signin-password-input[type='password'] {
    font-size: 2.25vw;
    text-align: left;
}

.signin-password-input {
    background-color: black;
    border: white 0.2vw solid;
    text-align: center;
    width: 92.5%;
    height: 100%;
    white-space: nowrap;
    padding: 0.33em;
    outline: none;
}

.signin-signin-button {
    background-color: black;
    border: white 0.25vw solid;
    font-size: 3vw;
    text-align: center;
    width: 40%;
    height: 100%;
    white-space: nowrap;
    padding-block: 0.20em;
    margin-top: 1vh;
}

.signin-signin-button:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}