.friends {
  position: absolute;
  border: 3px solid white;
  right: calc(0.8rem + 0.65vw);
  width: 19vw;
  height: calc(100vh - 9.9rem - 8.4rem - 10.8rem);
  margin-top: 19.2rem;
  overflow-y: auto;
}

.friends-friend:hover {
  opacity: 0.8;
}

.friend-requests-item:hover {
  opacity: 0.8;
}

.friends::-webkit-scrollbar {
  display: none;
}

.chat {
  position: absolute;
  border: 3px solid white;
  top: 1.2rem;
  left: 1.2rem;
  width: calc(100vw - 20vw - 2.4rem);
  height: calc(100vh - 2.7rem);
}

.friend-requests {
  position: absolute;
  border: 3px solid white;
  right: calc(0.8rem + 0.65vw);
  width: 19vw;
  height: calc(100vh - (100vh - 9.6rem) + 8.1rem);
  margin-top: 1.2rem;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.friend-requests::-webkit-scrollbar {
  display: none;
}

.friend-requests-p {
  position: -webkit-sticky;
  /* Required for Safari */
  position: sticky;
  top: 0;
  width: calc(100% - 6px);
  text-align: center;
  border: 3px solid white;
  padding-top: 1rem;
  padding-bottom: 1vh;
  font-size: 2rem;
}

/* .friend-requests-p.sticky .invisible-div-fix {
  display: block;
} */

.friends-p {
  width: calc(100% - 6px);
  text-align: center;
  border: 3px solid white;
  padding-top: 1rem;
  padding-bottom: 1vh;
  font-size: 2rem;
}

.friend-context {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.friend-profile,
.friend-remove {
  width: 100%;
  padding: 1px;
  font-weight: medium;
  font-size: 2em;
  color: black;
  border: none;
}

.friend-profile:hover,
.friend-remove:hover {
  opacity: 0.8;
}

.chat-text {
  width: calc(100% - 6px);
  text-align: center;
  border: 3px solid white;
  padding-top: 1rem;
  padding-bottom: 1vh;
  font-size: 2rem;
}

.chat-list {
  width: 15%;
  height: calc(100vh - 8.3rem);
  text-align: center;
  border: 3px solid white;
  padding-top: 1rem;
  padding-bottom: 1vh;
  font-size: 2rem;
}

.chat-list-text {
  margin-top: -1rem;
  width: calc(100% - 6px);
  text-align: center;
  border: 3px solid white;
  padding-top: 1rem;
  padding-bottom: 1vh;
  font-size: 2rem;
}

.add-friend {
  position: absolute;
  border: 3px solid white;
  right: calc(0.8rem + 0.65vw);
  width: 19vw;
  height: 8.4rem;
  margin-top: 12rem;
  text-align: center;
  bottom: 1.1em;
}

.add-friend-text {
  margin-top: 1rem;
  font-size: 2rem;
}

.add-friend-input {
  display: block;
  background: black;
  margin-left: calc(15% - 0.6rem);
  width: 70%;
  border: 3px solid white;
  padding: 0.5em;
  color: white;
  outline: none;
  margin-top: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.add-friend-button {
  background: black;
  border: 3px solid white;
  padding: 0.5em;
  color: white;
  outline: none;
  margin-top: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.add-friend-button:hover {
  opacity: 0.8;
}

/* Rules for items in FriendRequest.tsx */

.friend-requests-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #ccc;
  font-size: 2rem;
}

.friend-requests-name {
  margin-top: 0.7rem;
  height: 2rem;
  width: 100%;
  overflow-x: auto;
}

.friend-requests-accept,
.friend-requests-decline {
  color: white;
  border: none;
  border-radius: 3px;
  padding: 0.25rem 0.5rem;
  font-size: 14px;
  cursor: pointer;
}

.friend-requests-accept {
  background-color: #28a745;
}

.friend-requests-decline {
  background-color: #dc3545;
}

.friend-requests-accept:hover,
.friend-requests-decline:hover {
  opacity: 0.8;
}



/* Rules for items in FriendList.tsx */

.friend-status {
  margin-left: 1vw;
  align-items: left;
}

.friend-avatar {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-size: cover;
  background-repeat: no-repeat;
}

.friend-name {
  margin-top: 0.7rem;
  height: 2rem;
  overflow-x: auto;
}

.friends-friend {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #ccc;
  font-size: 2rem;
  cursor: pointer;
}

.friend-delete {
  color: white;
  border: none;
  border-radius: 3px;
  padding: 0.25rem 0.5rem;
  font-size: 14px;
  cursor: pointer;
  background-color: #dc3545;
  margin-right: 10px;
}

/* Channels */

.close-chat {
  position: absolute;
  border: 3px solid white;
  top: 2em;
  left: 3em;
  height: 50px;
  width: 50px;
  background-color: black;
}

.close-chat:hover {
  opacity: 0.8;
  cursor: pointer;
}

.channels {
  position: absolute;
  height: 100%;
  margin-left: calc(8px + 2vw);
  width: calc(100vw - 16px - 25vw);
  height: calc(100vh - 8.3rem);
  margin-top: 5rem;
}

.create-channel {
  background-color: black;
  color: white;
  border: 3px solid white;
  position: absolute;
  height: 100px;
  width: 150px;
  top: 40vh;
  margin-left: calc((100vw - 16px - 25vw) / 2 - 200px);
  font-size: 2rem;
}

.create-channel:hover {
  opacity: 0.8;
  cursor: pointer;
}

.join-channel {
  background-color: black;
  color: white;
  border: 3px solid white;
  position: absolute;
  height: 100px;
  width: 150px;
  top: 40vh;
  right: 0;
  margin-right: calc((100vw - 16px - 25vw) / 2 - 200px);
  font-size: 2rem;
}

.join-channel:hover {
  opacity: 0.8;
  cursor: pointer;
}

.error-message {
  margin-top: 4vh;
  margin-left: 26vw;
  color: red;
  font-size: 3rem;
  position: absolute;
}

.reset-states {
  position: absolute;
  background-color: red;
  height: 20px;
  width: 20px;
  left: 1vw;
  top: 1vw;
  border: none;
  font-size: 1em;
  cursor: pointer;
}

.reset-states:hover {
  opacity: 0.8;
}

.display-add {
  background: black;
  border: 3px solid white;
  padding: 0.5em;
  color: white;
  outline: none;
  margin-top: calc(4.2rem - 1.5rem + 3px);
  font-size: 1.5rem;
  cursor: pointer;
}

.display-add:hover {
  opacity: 0.8;
}

.display-block {
  background: black;
  border: 3px solid white;
  padding: 0.5em;
  color: white;
  outline: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 1rem;
}

.display-block:hover {
  opacity: 0.8;
}

.block-user-text {
  margin-top: 1rem;
  font-size: 2rem;
}

.block-user-input {
  display: block;
  background: black;
  margin-left: calc(15% - 0.6rem);
  width: 70%;
  border: 3px solid white;
  padding: 0.5em;
  color: white;
  outline: none;
  margin-top: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.block-user-button {
  background: black;
  border: 3px solid white;
  padding: 0.5em;
  color: white;
  outline: none;
  margin-top: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.block-user-button:hover {
  opacity: 0.8;
}