input[type="range"] {
    -webkit-appearance: none;
    width: 74%;
    height: 0.6vh;
    background-color: white;
    outline: none;
    margin: 0;
    padding: 0;
}
  
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1.5vw;
    height: 2.6vh;
    background-color: white;
    border-radius: 0;
    box-sizing: border-box;
}

.speed {
    color: white;
    font-size: 2.5em;
    margin-bottom: 1.75vh;
}

.slide-container {
    width: 11vw;
    height: 5vh;
    position: absolute;
    top: 18.5vh;
    left: calc(89vw - 5vh);
    text-align: center;
}
  
  