.send-input {
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20%;
    height: 10%;
    transform: translate(-50%, 100%);
    border: 3px solid white;
    background-color: black;
    color: white;
}

.error {
    color: red;
    font-size: 3rem;
    position: absolute;
    transform: translate(-50%, 100%);
    top: 40%;
    left: 50%;
}

.input-2fa {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -1.5rem 0 0 -10rem;
    color: white;
    background-color: black;
    border: 3px solid white;
    font-size: 3rem;
    text-align: center;
    outline: none;
}

.qr-div {
    border: 3px solid white;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    background-size: cover;
}

.qr-code {

    position: absolute;
    /* transform: translate(235%, 275%); */
    top: 25vh;
    left: 47vw;
    border: 6px solid white;
    width: calc(3vh + 3vw);
    height: calc(3vh + 3vw);
    background-size: cover;
}